html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #0c0f16;
  color: #c8c8c8;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

header,
footer {
  background: #13161d;
  padding: 1.5rem 0;
  text-align: center;
}
header > h1 {
  color: #75dab4;
}

main {
  margin: 2rem 0;
  padding: 0 20%;
}

a {
  color: #75dab4;
}
a:hover {
  color: #1ac986;
}
a:visited {
  color: #149463;
}
a:active {
  color: aqua;
}

footer {
  color: #999999;
}
